<div>Click the button below to reset your password</div>
<p>{{code}}</p>
<button>
  <a
    href="http://localhost:3000/auth/reset_password?user_id={{userId}}&code={{code}}"
  >Reset Password</a>
</button>