<div>Continue signing up for Chatssy by click the link below: xyz</div>
<p>{{verificationCode}}</p>
<button>
  <a
    href="http://buzzmate.com/api/iam-svc/user/{{userId}}/email/verification?code={{verificationCode}}"
  >Verify Email</a>
</button>